<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <listener>
    <listener-class>aces.webctrl.mfa.core.Initializer</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>aces.webctrl.mfa.web.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueryMFAPage</servlet-name>
    <servlet-class>aces.webctrl.mfa.web.QueryMFAPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMFAPage</servlet-name>
    <url-pattern>/QueryMFA</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConfigureMFAPage</servlet-name>
    <servlet-class>aces.webctrl.mfa.web.ConfigureMFAPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigureMFAPage</servlet-name>
    <url-pattern>/ConfigureMFA</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeEmailPage</servlet-name>
    <servlet-class>aces.webctrl.mfa.web.ChangeEmailPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmailPage</servlet-name>
    <url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WEB</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <filter>
    <filter-name>RoleFilterAJAX</filter-name>
    <filter-class>com.controlj.green.addonsupport.web.RoleFilter</filter-class>
    <init-param>
      <param-name>roles</param-name>
      <param-value>login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RoleFilterAJAX</filter-name>
    <url-pattern>/documentation.html</url-pattern>
    <url-pattern>/documentation.md</url-pattern>
  </filter-mapping>

</web-app>